alias c='clear'
alias .='pwd'
alias ..='cd ..'
alias ...='cd ../../'
alias ....='cd ../../../'
alias path='echo $PATH | tr -s ":" "\n"'

alias aliases="alias | sed 's/=.*//'"
alias functions="declare -f | grep '^[a-z].* ()' | sed 's/{$//'"


alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# alias ld='eza -lD’
# alias lf='eza -lF --color=always | grep -v /'
# alias lh='eza -dl .* --group-directories-first'
# alias ll='eza -al --group-directories-'
# alias ls='eza -alF --color=always --sort=size | grep -v /'
# alias lt='eza -al --sort=modified'

alias -g ldd='eza -D --sort=mod'    # list directories, sort, descending, MODIFIED
alias -g ldn='eza -Dr'              # list directories, sort, descending, NAME
alias -g lsD='eza -r --sort=mod'    # sort, ascending, MODIFIED
alias -g lsN='eza -r'               # sort, ascending, name
alias -g lsS='eza -r --sort=size'   # sort, ascending, size
alias -g lsd='eza --sort=mod'       # sort, descending, MODIFIED
alias -g lsn='eza'                  # sort, descending, NAME
alias -g lss='eza --sort=size'      # sort, descending, SIZE
alias -g lst='eza --tree --level=2' # sort, descending, NAME && show directory tree

alias rm-ds="find . -name .DS_Store -print0 | xargs -0 git rm --ignore-unmatch -f"


alias flushdns='sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder;echo "✌️ DNS flushed"'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"


alias shrug='echo '\''¯\_(ツ)_/¯'\'' | pbcopy'

alias week='date +%V'

alias sizes='du -sh -c *'

# Copy pwd to clipboard
alias cwd="pwd && pwd | pbcopy && echo 'Copied to clipboard 📁'"

# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'


alias hist-summary="history | awk '{a[\$2]++} END{for(i in a){printf \"%5d\t%s\n\",a[i],i}}' | sort -rn | head"


alias recent-branches="!git for-each-ref --sort=-committerdate --count=10 --format='%(refname:short)' refs/heads/"


alias nuke-all-containers='docker stop $(docker ps -a -q) && docker rm $(docker ps -a -q)'

alias bfg='java -jar ~/bin/bfg.jar'

alias cat="/opt/homebrew/bin/bat --theme auto:system --theme-dark default --theme-light GitHub"


alias bathelp='/opt/homebrew/bin/bat --plain --language=help'

#alias -h='-h 2>&1 | bat --language=help --style=plain'
#alias --help='--help 2>&1 | bat --language=help --style=plain'

# alias -g -- -h='-h 2>&1 | bat --language=help --style=plain'
# alias -g -- --help='--help 2>&1 | bat --language=help --style=plain'





alias drush8='/Users/lindseycatlett/drush/8/vendor/bin/drush'
alias drush9='/Users/lindseycatlett/drush/9/vendor/bin/drush'
alias drush10='/Users/lindseycatlett/drush/10/vendor/bin/drush'
alias drush11='/Users/lindseycatlett/drush/11/vendor/bin/drush'
alias drush12='/Users/lindseycatlett/drush/12/vendor/bin/drush'
alias drush='drush11'



# grep is wrapped to use rg (ripgrep) for better performance
# The wrapper translates grep flags to rg equivalents


#alias ufc-roo='/Users/lindseycatlett/scripts/utilities/global-prompts-ufc/ufc-roo-cline.sh'


alias memsum='PAGE_SIZE=$(vm_stat | awk "/page size of/ {print \$8}"); SWAP_USED=$(sysctl vm.swapusage | awk "{for(i=1;i<=NF;i++) if(\$i==\"used\") print \$(i+2)}"); TOTAL_RAM=$(sysctl -n hw.memsize); vm_stat | awk -v ps=$PAGE_SIZE -v swap=$SWAP_USED -v total=$TOTAL_RAM "function gb_pages(x){return x*ps/1073741824} function gb_bytes(x){return x/1073741824} /Pages free/ {free=\$3+0} /Pages active/ {act=\$3+0} /Pages inactive/ {inact=\$3+0} /Pages speculative/ {spec=\$3+0} /Pages wired down/ {wired=\$4+0} /Pages purgeable/ {purge=\$3+0} /Pages occupied by compressor/ {comp=\$5+0} END{used=total-free*ps; printf \"RAM: total %.1f GB | used %.1f GB | free %.1f GB\nActive: %.1f GB | inactive+spec: %.1f GB | wired: %.1f GB | purgeable: %.1f GB | compressed: %.1f GB | swap used: %s\n\", gb_bytes(total), gb_bytes(used), gb_pages(free), gb_pages(act), gb_pages(inact+spec), gb_pages(wired), gb_pages(purge), gb_pages(comp), swap }"'


# Zoxide aliases (disabled - install zoxide first)
# alias j='z'
# alias jj='zi'
# alias cd='z'
alias serena='/opt/homebrew/bin/uvx --from git+https://github.com/oraios/serena serena'
# AIP tool alias (after installation)
#alias aip='~/projects/curator-implem/aip-tool/venv/bin/python ~/projects/curator-implem/aip-tool/aip.py'


# Use Cursor instead of VS Code

