export EDITOR=vi


# Add `~/bin` to the `$PATH`
export PATH="$HOME/bin:$PATH";

export NVM_DIR="$HOME/.nvm"



LOCAL_BIN_EXPORT="$HOME/.local/bin"
YARN_BIN_EXPORT="$HOME/.config/yarn/global/node_modules/.bin"
COMPOSER_BIN_EXPORT="$HOME/.composer/vendor/bin"


# Base PATH
PATH=/usr/local/bin:/usr/local/sbin:/sbin:/usr/sbin:/bin:/usr/bin

# Conditional PATH additions
for path_candidate in /opt/local/sbin \
  $DOTFILES_EXPORT \
  $YARN_BIN_EXPORT \
  $LOCAL_BIN_EXPORT \
  $LOCAL_SBIN_EXPORT \
  $COMPOSER_BIN_EXPORT \
  $YARN_BIN_EXPORT \
  /opt/local/bin \
  /usr/local/share/npm/bin \
  ~/bin
do
  if [ -d ${path_candidate} ]; then
    export PATH=${PATH}:${path_candidate}
  fi
done


PATH="./vendor/bin:$PATH";
export PATH="/usr/local/opt/curl/bin:$PATH"

export COMPOSER_MEMORY_LIMIT=-1
export COMPOSER_EXIT_ON_PATCH_FAILURE=0
